<div class="row" style="background: #61D7A4">
  <div class="col-md-12">
    <h1>Тестовое задание для Level travel.</h1>
    <p>Кликните на карту и получите объекты из базы данных в радиусе указанном ниже карты в текстовом поле.</p>
    <p>Если вы оставите поле пустым, поиск будет произведен в радиусе 4 км.</p>
    <p>Так же можно добавить или удалить адрес.</p>
  </div>
</div>

<div class="row">
  <%= hidden_field_tag :map_settings, '', data: {coordinates: Building::INFO[:center_coordinates], zoom: Building::INFO[:zoom]} %>
  <div id="map" class="cart-div"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'home/shared/table' %>
  </div>
</div>